.dataset.csv.icloud
.DS_Store
wr112006.txt
dataset.csv
.wr112006.txt.icloud
.cleaned_dataset.csv.icloud
.full_dataset.csv.icloud
.wr112570.txt.icloud
wr112570.txt
cleaned_dataset.csv
cleaned_dataset.csv
cleaned_dataset.csv
cleaned_dataset.csv
